<form action="/api/lawyers" method="POST" id="add_lawyers">
  <div class="form-group">
  <label for="username" class="text-dark">Lawyer Username</label>
  <input type="text" name="username" value="">
  </div>
  <!-- <div class="form-group">
  <label for="date" class="text-dark">Date</label>
  <input type="date" name="date" value="">
  </div> -->
  <div class="form-group">
  <label for="password" class="text-dark">Password</label>
  <input type="hidden" name="id" value="">
  <input type="text" name="password" value="" placeholder="Enter password">
    </div>
  <div class="form-group">
  <label for="name" class="text-dark">Lawyer Name</label>
  <input type="hidden" name="id" value="">
  <input type="text" name="name" value="" placeholder="Enter name">
    </div>
     <div class="form-group">
  <label for="activecases" class="text-dark">Active Cases</label>
  <input type="hidden" name="id" value="">
  <input type="text" name="activecases" value="" placeholder="Enter active cases">
    </div>

<div class="form-group">
  <label for="pastcases" class="text-dark">Past Cases</label>
  <input type="hidden" name="id" value="">
  <input type="text" name="pastcases" value="" placeholder="Enter past cases">
    </div>

<div class="form-group">
  <button type="submit" class="btn text-dark update">Save</button>
</div>

</form>